body{
    background-color: bisque;
    
}
.navbar{
    display: flex;
    list-style:none;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
    

}
.navbar li{
    margin-right: 20px;
    position: relative;
    align-items: right;
    text-align: right;
    right: 10px;
    left: 800px;
    top: 0%;
}
.navbar li:last-child {
    margin-right: 50px;
}
