@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap");

body{
    background-color: rgb(1, 5, 15);
    font-family: Inter;
}
h1{
    font-size: 35px;
    font-weight: bold;
    font-style:italic;
    padding-left: 45pxpx;
    box-sizing: border-box;
    color: blue;
    word-spacing: 20px;

}
p{
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
    color: rgb(14, 77, 29);
    padding-top: 40px;
}
.navbar-items{
    text-decoration: none;
}