body{
    padding: 0;
    margin: 0 100px;
    width: auto;
}
header{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    display: inline-flex;
    cursor: pointer;
    font-size: 14px;
    position: sticky;

}
.header-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-icon h1{
    padding: 10px;
    height: auto;
    color: #FF385C;
   align-items: center;
   font-weight: 700;
   position: relative;
   display: block;
   

}